<div class="card">
  <div class="card-header">
    Add New Property
  </div>
  <div class="card-body">
    <form  (ngSubmit)='onSubmit()' #Form="ngForm">
      <div>
        <tabset>
          <tab heading="Basic title" id="tab1">
            <div class="form-group clo-12">
              <label for="name">Name</label>
              <input type="text" class="form-control" #propName="ngModel"   ngModel  name="Name" required>
              <span *ngIf="!propName.valid && propName.touched "  class="error-block">
                Please Enter Name
              </span>
      
            </div>
            <div class="form-group clo-12">
              <label for="type">Type</label>
              <input type="text" class="form-control" ngModel  name="Type">
              
            </div>
            <div class="form-group clo-12">
              <label for="price">Price</label>
              <input type="text" class="form-control" ngModel  name="Price">
              
            </div>
            <div class="form-group clo-12">
              <button type="submit" [disabled]="!Form.valid" class="btn btn-primary mr-2"  >Save</button>
              <button type="submit" class="btn btn-primary">Cancel</button>
            </div>
          </tab>
          <tab heading="Basic Title 1">Basic content 1</tab>
          <tab heading="Basic Title 2">Basic content 2</tab>
        </tabset>
      </div>
     
    </form>

  </div>
</div>